.item:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.item {
    position: relative;
    display: flex;
    height: 30vh;
    border-radius: 10px;
    background-color: #6e6868;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s ease;

    .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .img {
            height: 20vh;
        }
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .title {
            font-weight: bold;
            font-size: 24px;
            text-decoration: none;
        }

        .text {
            text-decoration: none;
            font-size: 20px;
        }
    }

    .date {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px;
    }

    .link {
        margin: 20px;
        text-decoration: none;
    }
}