.container {
    display: flex;
    height: calc(100vh - 60px);
    width: 100vw;
    background: #121212;

    .sidebar {
        width: 30vw;
        min-height: calc(100vh);
        display: flex;
        flex-direction: column;

        .itemContainer {
            margin: 0 auto;
            margin-top: 25px;
            width: 75%;
        }

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            background-color: #fff;
            border-radius: 12px;
            margin: 10px;
            padding: 10px 25px;
            color: #121212;
            cursor: pointer;
            box-shadow: 0 0 4px 4px transparent;
            transition: box-shadow 0.3s ease, color 0.3s ease,
                background-color 0.3s ease;

            &:hover {
                box-shadow: 0 0 4px 4px #eb5525;
            }

            &:active {
                color: #fff;
                background-color: #121212;
            }

            .title {
                font-weight: bold;
                font-size: 20px;
            }

            .svg {
                width: 75px;
                height: 75px;

                path {
                    fill: #7036bd;
                }
            }
        }
    }

    .map {
        width: 70vw;
        height: calc(90vh + 15px);
        overflow: hidden;
    }
}
