.container {
    display: flex;
    height: calc(100vh - 60px);
    width: 100vw;
    background: #121212;

    .sidebar {
        width: 30vw;
        min-height: calc(100vh);
        display: flex;
        flex-direction: column;

        .inputFilter {
            padding: 23px 30px;
            border-radius: 12px;
        }

        .itemContainer {
            margin-top: 55px;
        }

        .datetime {
            display: block;
            width: fit-content;
            background-color: #fff;
            padding: 5px;
            border-radius: 8px;

            label {
                padding: 7px;
            }

            input {
                color: #121212;
            }

            .MuiInput-underline:before {
                border-bottom-color: "white";
            }

            .MuiInput-underline:after {
                border-bottom-color: "white";
            }

            .MuiInput-input {
                color: "white";
            }

            .MuiInputLabel-root {
                color: "white";
            }
        }

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 85%;

            gap: 10px;
            background-color: #fff;
            border-radius: 12px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;

            padding: 10px 25px;
            color: #121212;
            cursor: pointer;
            box-shadow: 0 0 4px 4px transparent;
            transition: box-shadow 0.3s ease, color 0.3s ease,
                background-color 0.3s ease;

            &:hover {
                box-shadow: 0 0 4px 4px #eb5525;
            }

            &:active {
                color: #fff;
                background-color: #121212;
            }

            .content {
                .title {
                    margin: 5px 0;
                    font-weight: 400;
                    font-size: 16px;

                    span {
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }

            .svg {
                width: 75px;
                height: 75px;

                path {
                    fill: #7036bd;
                }
            }
        }
    }

    .map {
        width: 70vw;
        height: calc(90vh + 15px);
        overflow: hidden;
    }
}
