@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

ol, ul {
    padding-left: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
